@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Programming Technology</h1>
        <p class="lead">We study ASP.NET with SQL Server in this module</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR5qGpwuwOmQxIXSnLufT-5fEY9C84V9xUn-lBniN4pQ&s" />
    </section> 
</main>